@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Ruda:wght@400..900&display=swap');

body, html {
    height: 100%;
    width: 100%;
    --offWhite: #f8f8f8;
    --gray: #333;
    --blue: #4169E1;
    --drd: #D4AF37;
    --blk: #030303;
    --gray2: #2e2e2e;
}

body{
  overflow-x: hidden;
}

.divNav .logo{
    height: 3rem;
}

.divNav{
    padding: 15px;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: var(--gray2);
}

.divNav a{
    text-decoration: none;
    color: var(--offWhite);
    display: inline-block;
    position: relative;
}

.divNav a:focus::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--offWhite);
}

.divNav a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--offWhite);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.divNav a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Bree Serif Font */
.bs{
    font-family: "Bree Serif", serif;
}

/* Ruda Font */
.rd{
    font-family: "Ruda", sans-serif;
}

.imgBanner{
    height: 20rem;
}

.text-banner{
    width: 200px;
}

.tm-blue{
    background-color: var(--blue);
    padding-left: 10px;
    padding-right: 10px;
}

.u-blue{
    text-decoration: underline var(--blue) 5px;
}

@media only screen and (max-width: 600px) {
    .mobile-hide{ display: none !important; }
}

@media only screen and (max-width: 601px) {
    .mobile{ display: inline !important; }
}

@media only screen and (min-width: 601px) {
    .mobile{ display: none !important; }
}

/* From Uiverse.io by gharsh11032000 */ 
.form-container {
    width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container .form-group input {
    width: 100%;
    background: var(--offWhite);
    color: var(--gray2);
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #313131;
  }
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container .signup-link {
    align-self: center;
    font-weight: 500;
  }
  
  .form-container .signup-link .link {
    font-weight: 400;
  }
  
  .form-container .link:hover {
    text-decoration: underline;
  }
  
.text-ctt{
    width: 400px;
}

.markone{
  width: 20rem;
  opacity: 0.1;
  position: absolute;
  right: -10px;
  margin-top: 400px;
  z-index: -1;
}