<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="https://api.hubbix.com.br/img/newFav.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/panel/css/utils.css">
    <link rel="stylesheet" href="/static/panel/css/checkbox.css">
    <!-- END CSS -->
    <title>Hubbix Panel</title>
    <style>
        .logo-client{
            --circle: 150px;
            width: var(--circle) !important;
            height: var(--circle) !important;
            object-fit: contain !important;
            border: 1px solid #fff;
            border-radius: 20px;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
        }
    </style>
</head>

<body data-bs-theme="dark" class="bg-dark-gray">
    <a href="/home" class="btn px-5 py-2"><i class="bi bi-caret-left-fill"></i></a>
    <!-- MAIN CONTENT -->
    <div class="container d-flex flex-column py-5">
        <div class="d-flex gap-4 align-items-center justify-content-between mb-5">
            <!-- DEFAULT INFOS -->
            <div class="d-flex gap-4 align-items-center">
                {% if client.logo == "blank.png" %}
                    <img class="logo-client p-2" src="https://api.hubbix.com.br/img/blank.png" alt="Logo do Cliente">
                {% else %}
                    <img class="logo-client p-2" src="/static/{{client.template}}/img/{{client.logo}}" alt="Logo do Cliente">
                {% endif %}
                <div class="d-flex flex-column">
                    <span class="fs-2 fw-bold">{{client.name}}</span>
                    <span>Data de Criação: {%if client.created_at%}{{client.created_at.strftime("%d/%m/%Y %H:%M")}}{%else%}Nâo especificada.{%endif%}</span>
                    <div class="d-flex gap-2 ">
                        <!-- SUB DOMAIN OR CUSTOM DOMAIN -->
                        {% if client.custom_domain %}
                        <a target="_blank" class="fs-5 text-secondary" href="https://{{client.custom_domain}}">{{client.custom_domain}}</a>
                        {% else %}
                            {% if request.host.find('localhost') %}
                                <a href="http://{{client.subdomain}}{{request.host.strip('panel')}}" target="_blank" class="fs-5 text-secondary">{{client.subdomain}}{{request.host.strip('panel')}}</a>
                            {% else %}
                                <a href="https://{{client.subdomain}}.lp.hubbix.com" target="_blank" class="fs-5 text-secondary">{{client.subdomain}}.lp.hubbix.com</a>
                            {% endif %}
                        {% endif %}
                        <!-- END SUB DOMAIN OR CUSTOM DOMAIN -->
        
                        <!-- ON/OFF -->
                        {% if client.active %} <span class="badge p-2 rounded-3 bg-primary" id="badge_status">Ativo</span>
                        {% else %} <span class="badge p-2 rounded-pill bg-red" id="badge_status">Inativo</span> {% endif %}
                        <!-- END ON/OFF -->
                    </div>
                </div>
            </div>
            <!-- END DEFAULT INFOS -->

            <div class="d-flex flex-column align-items-end justify-content-end">
                <span class="fs-5 fw-bold">Última Atualizção</span>
                <span class="fs-6" data-set="commit-comment">[COMMENT]</span>
                <div class="d-flex gap-2">
                    <span data-set="commit-author">[AUTHOR]</span>
                    <span data-set="commit-date">[DATE]</span>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column gap-2" style="line-height: 30px;">
            <!-- ATIVAR/DESATIVAR CLIENTE -->
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <span class="fs-4 fw-bold">Ativar/Desativar cliente.</span>
                    <span class="fs-4">Essa função permite ativar ou desativar de forma instantanea o website do
                        cliente.</span>
                </div>
                <label class="switch">
                    <input type="checkbox" data-set="client_status" {% if client.active %}checked{% endif %}>
                    <span class="slider"></span>
                </label>
            </div>
            <hr class="mb-5">
            <!-- END ATIVAR/DESATIVAR CLIENTE -->

            <!-- CLIENT PHONE  -->
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                    <span class="fs-4 fw-bold">Telefone.</span>
                    <span class="fs-4">Aqui você define o telefone(Whatsapp) e a mensagem padrão para esse clente especifico</span>
                </div>
                <form class="d-flex flex-column" data-set="client_phone">
                    <div class="form-floating">
                        <input id="tel" type="tel" placeholder="Telefone" class="form-control tel-mask" autocomplete="tel" value="{%if client.tel%}{{client.tel}}{%endif%}">
                        <label for="tel">Telefone</label>
                    </div>
                    <div class="form-floating">
                        <input id="msg" type="text" placeholder="Mensagem" class="form-control" autocomplete="off" value="{%if client.whatsapp_msg%}{{client.whatsapp_msg}}{%endif%}">
                        <label for="msg">Mensagem</label>
                    </div>
                    <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-floppy"></i> Salvar</button>
                </form>
            </div>
            <hr class="mb-5">
            <!-- END CLIENT PHONE  -->

            <!-- CUSTOM DOMAIN -->
            <div class="d-flex justify-content-between align-items-center gap-2">
                <div class="d-flex flex-grow-1 flex-column flex-basis-700">
                    <span class="fs-4 fw-bold">Dominio Customizado.</span>
                    <span class="fs-4">Trocar o subdominio para um dominio personalizado, exige uma configuração interna e pode haver custos adicionais.</span>
                </div>
                <div class="d-flex flex-grow-1 flex-basis-700">
                    <form class="input-group w-100" data-set="client_custom_domain">
                        <div class="form-floating">
                            <input id="domain" type="text" class="form-control" placeholder="Dominio" value="{%if client.custom_domain%}{{client.custom_domain}}{%endif%}">
                            <label for="domain">Dominio</label>
                        </div>
                        <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-floppy"></i> Salvar</button>
                    </form>
                </div>
            </div>
            <hr class="mb-5">
            <!-- END CUSTOM DOMAIN -->

            <!-- TAG MANAGER -->
            <div class="d-flex flex-column align-items-start gap-2">
                <span class="fs-4 fw-bold">Adicionar analytics externos.</span>
                <span class="fs-4 mb-4">Caso queira você pode adicionar o analytics externo como Google ou Meta Pixel Code.</span>
                
                <!-- GOOGLE TAG MANAGER -->
                <div class="d-flex flex-column border w-100 rounded p-4">
                    <span class="fs-4 fw-bold">Google Analytics</span>
                    <span class="fs-5">De todo o código oferecido pelo Google, representado abaixo, precisamos apenas do ID do G14, que está marcado no código abaixo.</span>
                    <code class="text-success">// Google tag (gtag.js)</code>
                    <code>window.dataLayer = window.dataLayer || [];</code>
                    <code>function gtag(){dataLayer.push(arguments);}\n</code>
                    <code>gtag('js', new Date());</code>
                    <code>// Configuração básica do GA4 </code>
                    <code>gtag('config', '<span class="bg-secondary badge rounded fs-6 fw-bold">AW-999999999</span>');</code>
                </div>
                <form class="input-group w-100 mb-5" data-set="gtag">
                    <div class="form-floating">
                        <input class="form-control" id="gtag" type="text" placeholder="GTAG Code" autocomplete="off" value="{%if client.gtag%}{{client.gtag}}{%endif%}">
                        <label for="gtag">GTAG Code</label>
                    </div>
                    <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-floppy"></i> Salvar</button>
                </form>
                <!-- END GOOGLE TAG MANAGER -->

                <!-- META PIXEL CODE -->
                <div class="d-flex flex-column border w-100 rounded p-4">
                    <span class="fs-4 fw-bold">Meta Pixel Code</span>
                    <span class="fs-5">De todo o código oferecido pelo Meta, representado abaixo, precisamos apenas do ID do Pixel, que está marcado no código abaixo.</span>
                    <code class="text-success">// Meta Pixel Code</code>
                    <code>!function(f,b,e,v,n,t,s)</code>
                    <code>{if(f.fbq)return;n=f.fbq=function(){n.callMethod?</code>
                    <code>n.callMethod.apply(n,arguments):n.queue.push(arguments)};</code>
                    <code>if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';</code>
                    <code>n.queue=[];t=b.createElement(e);t.async=!0;</code>
                    <code>t.src=v;s=b.getElementsByTagName(e)[0];</code>
                    <code>s.parentNode.insertBefore(t,s)}(window,document,'script',</code>
                    <code>'https://connect.facebook.net/en_US/fbevents.js');</code>
                    <code>fbq('init', '<span class="bg-secondary badge rounded fs-6 fw-bold">PIXEL_ID</span>');</code>
                </div>
                <form class="input-group w-100" data-set="pixel">
                    <div class="form-floating">
                        <input class="form-control" id="pixel" type="text" placeholder="Pixel Code" autocomplete="off" value="{%if client.pixel%}{{client.pixel}}{%endif%}">
                        <label for="pixel">Pixel Code</label>
                    </div>
                    <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-floppy"></i> Salvar</button>
                </form>
                <!-- END META PIXEL CODE -->
            </div>
            <hr class="mb-5">
            <!-- END TAG MANAGER -->

            <!-- DELETE CLIENT -->
            <div class="d-flex justify-content-between gap-2">
                <div class="d-flex flex-grow-1 flex-column flex-basis-700">
                    <span class="fs-4 fw-bold">Exclusão de cliente.</span>
                    <span class="fs-4">Está função será irreversível, tenha certeza de que está excluindo este cliente de nosso banco de dados!</span>
                </div>
                <div class="d-flex justify-content-end align-items-center flex-basis-700">
                    <button data-set="remove_client" class="btn btn-lg btn-red">Excluir Permanentemente.</button>
                </div>
            </div>
            <!-- END DELETE CLIENT -->
        </div>

    </div>
    <!-- END MAIN CONTENT -->

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script> AOS.init({ duration: 2000 }) </script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.9/dist/jquery.inputmask.min.js"></script>
    <script type="module" src="/static/panel/js/main.js"></script>
    <script type="module" src="/static/panel/js/services/gh_service.js"></script>
    <script></script>
    <!-- END SCRIPTS -->
</body>

</html>