<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hubbix Panel</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="https://api.hubbix.com.br/img/newFav.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/panel/css/utils.css">
    <link rel="stylesheet" href="/static/panel/css/checkbox.css">
    <style>body{zoom: 95%;}</style>
    <!-- END CSS -->
</head>

<body data-bs-theme="dark" class="bg-dark-neutral">
    <a href="/home" class="btn px-5 py-2"><i class="bi bi-caret-left-fill"></i></a>
    <!-- MAIN CONTENT -->
    <main class="container d-flex flex-column py-5">
        <!-- INFOS AND UTILS -->
        <div class="d-flex bg-gray-neutral p-4 rounded-4 gap-4 align-items-start justify-content-between mb-5">
            <!-- LOGO CLIENT -->
            <div>
                <!-- DEFAULT INFOS -->
                {% if client.logo == "blank.png" %}
                <img class="logo-client p-2" src="https://api.hubbix.com.br/img/blank.png" alt="Logo do Cliente">
                {% else %}
                <img class="logo-client p-2" src="/static/{{client.template}}/img/{{client.logo}}" alt="Logo do Cliente">
                {% endif %}
            </div>
            <!-- END LOGO CLIENT -->

            <!--DEFAULT INFOS -->
            <div class="d-flex flex-column p-1 flex-grow-1">
                <span class="fs-2 fw-bold">{{client.name}}</span>
                <span class="fs-5 tiny-text">Data de Criação: {%if client.created_at%}{{client.created_at.strftime("%d/%m/%Y %H:%M")}}{%else%}Nâo especificada.{%endif%}</span>
                <div class="d-flex gap-2 align-items-center">
                    <!-- ON/OFF -->
                    {% if client.active %} 
                    <i class="bi bi-circle-fill text-primary"></i>
                    {% else %} 
                    <i class="bi bi-circle-fill text-red"></i>
                    {% endif %}
                    <!-- END ON/OFF -->

                    <!-- SUB DOMAIN OR CUSTOM DOMAIN -->
                    {% if client.custom_domain %}
                    <a target="_blank" class="fs-6 text-light text-decoration-none" href="https://{{client.custom_domain}}">{{client.custom_domain}}</a>
                    {% else %}
                        {% if request.host.find('localhost') %}
                            <a href="http://{{client.subdomain}}{{request.host.strip('panel')}}" target="_blank" class="fs-6 text-light text-decoration-none">{{client.subdomain}}{{request.host.strip('panel')}}</a>
                        {% else %}
                            <a href="https://{{client.subdomain}}.lp.hubbix.com" target="_blank" class="fs-6 text-light text-decoration-none">{{client.subdomain}}.lp.hubbix.com</a>
                        {% endif %}
                    {% endif %}
                    <!-- END SUB DOMAIN OR CUSTOM DOMAIN -->
                </div>
            </div>
            <!-- END DEFAULT INFOS -->

            <!-- LAST COMMIT-->
            <div class="d-flex flex-column p-1 flex-grow-1">
                <span class="fs-4 fw-bold mb-2">Última Atualização</span>
                <span class="fs-6 text-truncate max-widht-400" data-set="commit-comment">Comentário: {{client.gh_commit}}</span>
                <span data-set="commit-author">Autor: {{client.gh_author}}</span>
                <span data-set="commit-date">Horário: {{client.gh_date.strftime("%d/%m/%Y, %H:%M")}}</span>
            </div>
            <!-- END LAST COMMIT -->
        </div>
        <!-- END INFOS AND UTILS -->

        <!-- CONFIG -->
        <div class="d-flex flex-column gap-2" style="line-height: 30px;">
            <!-- ATIVAR/DESATIVAR CLIENTE -->
            <div class="d-flex justify-content-between align-items-center bg-gray-neutral p-4 rounded-4 mb-2">
                <div class="d-flex flex-column">
                    <span class="fs-4 fw-bold">Ativar/Desativar cliente.</span>
                    <span class="fs-4">Essa função permite ativar ou desativar de forma instantanea o website do
                        cliente.</span>
                </div>
                <label class="switch">
                    <input type="checkbox" data-set="client_status" {% if client.active %}checked{% endif %}>
                    <span class="slider"></span>
                </label>
            </div>
            <!-- END ATIVAR/DESATIVAR CLIENTE -->

            <!-- CLIENT PHONE  -->
            <div class="d-flex flex-column bg-gray-neutral p-4 rounded-4 mb-2">
                <div class="d-flex flex-column mb-4">
                    <span class="fs-4 fw-bold">Telefone.</span>
                    <span class="fs-4">Aqui você define o telefone(Whatsapp) e a mensagem padrão para esse clente especifico</span>
                </div>
                <form class="d-flex gap-2 flex-column" data-set="client_phone">
                    <div class="form-floating">
                        <input id="tel" type="tel" placeholder="Telefone" class="form-control tel-mask" autocomplete="tel" value="{%if client.tel%}{{client.tel}}{%endif%}">
                        <label for="tel">Telefone</label>
                    </div>
                    <div class="form-floating">
                        <input id="msg" type="text" placeholder="Mensagem" class="form-control" autocomplete="off" value="{%if client.whatsapp_msg%}{{client.whatsapp_msg}}{%endif%}">
                        <label for="msg">Mensagem</label>
                    </div>
                    <button type="submit" class="btn align-self-end rounded-2 btn-primary">Salvar</button>
                </form>
            </div>
            <!-- END CLIENT PHONE  -->

            <!-- CUSTOM DOMAIN -->
            <div class="d-flex flex-column gap-2 bg-gray-neutral p-4 rounded-4 mb-4">
                <div class="d-flex flex-grow-1 flex-column mb-2">
                    <span class="fs-4 fw-bold">Dominio Customizado.</span>
                    <span class="fs-4">Trocar o subdominio para um dominio personalizado, exige uma configuração interna e pode haver custos adicionais.</span>
                </div>
                <form class="input-group" data-set="client_custom_domain">
                    <div class="form-floating">
                        <input id="domain" type="text" class="form-control" placeholder="Dominio" value="{%if client.custom_domain%}{{client.custom_domain}}{%endif%}">
                        <label for="domain">Dominio</label>
                    </div>
                    <button type="submit" class="btn btn-primary rounded-2"> Salvar</button>
                </form>
            </div>
            <!-- END CUSTOM DOMAIN -->

            <!-- TAG MANAGER -->
            <div class="d-flex flex-column align-items-start gap-2 bg-gray-neutral p-4 rounded-4 mb-4">
                <span class="fs-4 fw-bold">Adicionar analytics externos.</span>
                <span class="fs-4 mb-4">Caso queira você pode adicionar o analytics externo como Google ou Meta Pixel Code.</span>
                
                <!-- GOOGLE TAG MANAGER -->
                <div class="d-flex p-2 flex-column border rounded p-4">
                    <span class="fs-4 fw-bold">Google Analytics</span>
                    <span class="fs-5 mb-4">De todo o código oferecido pelo Google, representado abaixo, precisamos apenas do ID do G14, que está marcado no código abaixo.</span>
                    <div class="d-flex flex-column bg-dark-neutral w-100 rounded p-4 mb-4">
                        <code class="text-success">// Google tag (gtag.js)</code>
                        <code>window.dataLayer = window.dataLayer || [];</code>
                        <code>function gtag(){dataLayer.push(arguments);}\n</code>
                        <code>gtag('js', new Date());</code>
                        <code>// Configuração básica do GA4 </code>
                        <code>gtag('config', '<span class="bg-secondary badge rounded fs-6 fw-bold">AW-999999999</span>');</code>
                    </div>
                    <form class="d-flex gap-2" data-set="gtag">
                        <div class="form-floating flex-grow-1">
                            <input class="form-control" id="gtag" type="text" placeholder="GTAG Code" autocomplete="off" value="{%if client.gtag%}{{client.gtag}}{%endif%}">
                            <label for="gtag">GTAG Code</label>
                        </div>
                        <button type="submit" class="btn btn-primary rounded-2">Salvar</button>
                    </form>
                </div>
                <!-- END GOOGLE TAG MANAGER -->

                <!-- META PIXEL CODE -->
                <div class="d-flex p-2 flex-column border rounded p-4">
                    <span class="fs-4 fw-bold">Meta Pixel Code</span>
                    <span class="fs-5 mb-4">De todo o código oferecido pelo Meta, representado abaixo, precisamos apenas do ID do Pixel, que está marcado no código abaixo.</span>
                    <div class="d-flex flex-column bg-dark-neutral w-100 rounded p-4 mb-4">
                        <code class="text-success">// Meta Pixel Code</code>
                        <code>!function(f,b,e,v,n,t,s)</code>
                        <code>{if(f.fbq)return;n=f.fbq=function(){n.callMethod?</code>
                        <code>n.callMethod.apply(n,arguments):n.queue.push(arguments)};</code>
                        <code>if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';</code>
                        <code>n.queue=[];t=b.createElement(e);t.async=!0;</code>
                        <code>t.src=v;s=b.getElementsByTagName(e)[0];</code>
                        <code>s.parentNode.insertBefore(t,s)}(window,document,'script',</code>
                        <code>'https://connect.facebook.net/en_US/fbevents.js');</code>
                        <code>fbq('init', '<span class="bg-secondary badge rounded fs-6 fw-bold">PIXEL_ID</span>');</code>
                    </div>
                    <form class="d-flex gap-2" data-set="pixel">
                        <div class="form-floating flex-grow-1">
                            <input class="form-control" id="pixel" type="text" placeholder="Pixel Code" autocomplete="off" value="{%if client.pixel%}{{client.pixel}}{%endif%}">
                            <label for="pixel">Pixel Code</label>
                        </div>
                        <button type="submit" class="btn btn-primary rounded-2">Salvar</button>
                    </form>
                </div>
                <!-- END META PIXEL CODE -->
            </div>
            <!-- END TAG MANAGER -->

            <!-- DELETE CLIENT -->
            <div class="d-flex flex-column gap-2 bg-gray-neutral p-4 rounded-4 mb-4">
                <div class="d-flex flex-column mb-4">
                    <span class="fs-4 fw-bold">Exclusão de cliente.</span>
                    <span class="fs-4">Está função será irreversível, tenha certeza de que está excluindo este cliente de nosso banco de dados!</span>
                </div>
                <button data-set="remove_client" class="rounded btn btn-lg btn-red">Excluir Permanentemente.</button>
            </div>
            <!-- END DELETE CLIENT -->
        </div>

    </main>
    <!-- END MAIN CONTENT -->

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script> AOS.init({ duration: 2000 }) </script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.9/dist/jquery.inputmask.min.js"></script>
    <script type="module" src="/static/panel/js/main.js"></script>
    <script></script>
    <!-- END SCRIPTS -->
</body>

</html>