/* 
    AQUÍ FICAM AS CLASSES DE UTILIDADES (BOTOES, BACKGROUNDS, TEXTOS ETC)
*/


/* Botoes */
.btn-primary {
    background-color: var(--primary) !important;
    border: none;
    color: #fff;
}
.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-hover) !important
}
.btn-outline-primary {
    color: #fff !important;
    border: 2px solid var(--primary) !important;
    background: transparent;
    font-weight: 600
}
.btn-outline-primary:hover {
    color: #fff !important;
    background-color: var(--primary-hover) !important;
    border: 2px solid var(--primary) !important;
}
.btn-secondary {
    color: #333;
    background-color: var(--secondary) !important;
    border: none
}
.btn-secondary:hover {
    color: #333;
    background-color: var(--secondary-hover) !important
}
.btn-dark-green {
    background-color: var(--dark-green) !important;
    border: none;
    color: #fff;
    padding: .5rem;
    font-weight: 600
}

/* Fundos */
.bg-green{
    background: var(--dark-green) !important;
    color: #fff !important;
}
.bg-primary{
    background: var(--primary) !important;
    color: #fff !important;
}
.bg-secondary{
    background: var(--secondary) !important;
    color: #333 !important;
}
.bg-gscale{
    background: var(--gscale) !important;
    color: #333 !important;
}
.bg-dark-green{
    background: var(--dark-green) !important;
    color: #fff !important;
}

/* Textos */
.text-primary {
    color: var(--primary) !important
}
.text-muted{
    color: var(--muted) !important;
}
.text-secondary {
    color: var(--secondary) !important
}
.text-dark-green {
    color: var(--dark-green) !important;
    font-weight: 700 
}
