<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{url_for('static', filename='estrada_consultoria/img/fav.png')}}">
  <title>Estrada Consultoria</title>
  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='estrada_consultoria/css/font.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='estrada_consultoria/css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='estrada_consultoria/css/utils.css')}}">
  <!-- END CSS -->
</head>

<body>
  <!-- WhatsApp flutuante -->
  <a class="btn btn-success btn-lg whatsapp-btn" href="https://wa.me/5544991050013" target="_blank" rel="noopener"
    title="Chamar no WhatsApp">
    <i class="bi bi-whatsapp"></i>
  </a>

  <!-- NAVBAR -->
  <nav class="navbar navbar-light bg-white shadow-sm overflow-x-hidden navbar-expand-lg">
    <div class="container">
      <img src="{{url_for('static', filename='estrada_consultoria/img/logo.svg')}}" class="navbar-brand" width="100vh" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav"
        aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="#quem">Quem Somos</a></li>
          <li class="nav-item"><a class="nav-link" href="#servicos">Serviços</a></li>
          <li class="nav-item"><a class="nav-link" href="#beneficios">Especialização</a></li>
          <li class="nav-item"><a class="nav-link" href="#fluxo">Fluxo</a></li>
          <li class="nav-item"><a class="nav-link btn btn-primary ms-2" href="#contato">Contato</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- HERO -->
  <div class="hero">
    <div class="candleDiv"><canvas id="candles"></canvas></div>
    <div class="candleContent d-flex flex-column h-100 w-100 justify-content-center align-items-center text-center p-5">
      <span class="display-6 fw-bold text-primary text-center">Se a gestão da sua empresa não for estratégica, ela está
        custando caro.</span>
      <span class="fs-5">Otimize seus processos, reduza desperdícios e potencialize seus lucros com soluções financeiras
        inteligentes.</span>
      <a class="btn btn-lg btn-primary mt-5" href="#contato">MUDE ISSO JÁ!</a>
    </div>
  </div>

  <!-- QUEM SOMOS -->
  <section id="quem" class="py-5">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-center align-items-center">
        <!-- Video -->
        <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1" style="flex-basis: 300px;"
          data-aos="fade-down">
          <video id="videoEstrada" autoplay loop playsinline class="object-fit-contain border rounded-5" height="500vh">
            <source src="{{url_for('static', filename='estrada_consultoria/videos/EstradaReduzido.mp4')}}" type="video/mp4">
          </video>
          <span class="fs-5 fst-italic mt-5">Caso o video não tenha iniciado,
            <span style="cursor: pointer;" class="text-primary fw-bold" onclick="document.getElementById('videoEstrada').play()">Clique Aqui!</span></span>
        </div>

        <!-- Empresa -->
        <div class="d-flex flex-column flex-grow-1 mb-5" style="flex-basis: 300px;">
          <h2 class="text-secondary display-6 fw-bold mb-5">Quem <span class="text-primary fw-bold">Somos</span></h2>
          <div class="col-lg-9 p-2" data-aos="fade-up">
            <p>Na Estrada Consultoria, organizamos o caos financeiro e transformamos números em decisões inteligentes.
              Implantamos controles que funcionam, planos sob medida e indicadores que mostram pra onde o dinheiro
              realmente vai. Nosso foco é simples: ajudar sua empresa a lucrar mais com o que já tem.</p>
            <div class="row mt-3">
              <div class="col-sm-4 text-center" data-aos="zoom-in" data-aos-delay="50">
                <img src="{{url_for('static', filename='estrada_consultoria/img/missao.svg')}}" alt="Missão" class="mb-2">
                <h6>Missão</h6>
                <p class="text-primary fs-6">Ajudar empresas a melhorar processos e resultados.</p>
              </div>
              <div class="col-sm-4 text-center" data-aos="zoom-in" data-aos-delay="100">
                <img src="{{url_for('static', filename='estrada_consultoria/img/visao.svg')}}" alt="Visão" class="mb-2">
                <h6>Visão</h6>
                <p class="text-primary fs-6">Ser referência em consultoria personalizada.</p>
              </div>
              <div class="col-sm-4 text-center" data-aos="zoom-in" data-aos-delay="150">
                <img src="{{url_for('static', filename='estrada_consultoria/img/valores.svg')}}" alt="Valores" class="mb-2">
                <h6>Valores</h6>
                <p class="text-primary fs-6">Confiança, ética, transparência, respeito e integridade.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- NOSSA EQUIPE -->
  <span class="icon-up-div iud-dark-green"><i class="bi bi-arrow-down"></i></span>
  <section class="py-5 bg-dark-green">
    <div class="container">
      <span class="display-6 fw-bold text-secondary">Nossa <span class="text-light">Equipe.</span></span>
      <div class="d-flex mt-5 flex-wrap gap-4">
        <div class="d-flex flex-wrap flex-grow-1" style="flex-basis: 400px;" data-aos="fade-up">
          <img src="{{url_for('static', filename='estrada_consultoria/img/f_person_2.png')}}" class="img-fluid shadow-lg object-fit-cover rounded-5" width="200vh"
            style="flex-basis: 200px;" alt="Juliana Estrada">
          <div class="d-flex flex-column flex-grow-1 text-bg-light my-5 p-4 about-team" style="flex-basis: 200px;">
            <span class="text-primary fs-5 fw-bold">Juliana Estrada</span>
            <span class="text-secondary fs-6 fw-bold">Consultora Organizacional e Contadora</span>
            <span>Com formação em TI, Contabilidade, Finanças e MBA em Gestão de Projetos. Com quase 30 anos de
              experiência, lidera a Estrada Consultoria em projetos de gestão financeira, estratégica e tecnológica.
              Reconhecida por transformar conhecimento técnico em soluções que impulsionam o crescimento
              empresarial.</span>
          </div>
        </div>
        <div class="d-flex flex-wrap flex-grow-1" style="flex-basis: 400px;" data-aos="fade-up">
          <img src="{{url_for('static', filename='estrada_consultoria/img/m_person_1.png')}}" class="img-fluid shadow-lg object-fit-cover rounded-5" width="200vh"
            style="flex-basis: 200px;" alt="Anderson Estrada">
          <div class="d-flex flex-column flex-grow-1 text-bg-light my-5 p-4 about-team" style="flex-basis: 200px;">
            <span class="text-primary fs-5 fw-bold">Anderson Estrada</span>
            <span class="text-secondary fs-6 fw-bold">Consultor Empresarial</span>
            <span>Com formação em Ciências Contábeis e MBAs em Projetos, Processos Industriais, Gestão e Marketing. Com
              mais de 24 anos de experiência em entidades como FIEP, SICREDI e ACIM, é credenciado pelo SEBRAE-PR e
              membro do PMI, SBDG e IBCO. Desde 2015, atua no desenvolvimento de setores econômicos e projetos
              estratégicos voltados à competitividade e inovação.</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SERVIÇOS -->
  <section id="servicos" class="py-5 bg-light">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-4 p-2">
        <span class="display-6 text-secondary fw-bold flex-grow-1" style="flex-basis: 400px;">Nossos <span
            class="text-primary">Serviços.</span></span>
        <div class="d-flex flex-grow-1" style="flex-basis: 400px;">
          <select class="form-select" id="serviceSelect">
            <option value="">Selecione o serviço</option>
            <option>Análise Financeira</option>
            <option>Controles Essenciais Informatizados</option>
            <option>Gestão Financeira Estratégica</option>
            <option>Planejamento Financeiro Orçamentário</option>
            <option>Gestão de Processos de Negócio</option>
            <option>Gestão de Projetos</option>
          </select>
        </div>
      </div>

      <div class="row g-4">
        <div class="col-md-6 col-lg-4" data-aos="fade-up">
          <div class="service-card">
            <h5 class="text-primary"><i class="bi bi-graph-up-arrow"></i> Análise Financeira</h5>
            <p class="fs-6">
              Diagnóstico empresarial com visão completa das condições e desempenho da sua
              empresa.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="50">
          <div class="service-card">
            <h5 class="text-primary"><i class="bi bi-shield-check"></i> Controles Essenciais Informatizados</h5>
            <p class="fs-6">
              Escolha e implementação de software especializado para informatizar processos.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="service-card">
            <h5 class="text-primary"><i class="bi bi-piggy-bank-fill"></i> Gestão Financeira Estratégica</h5>
            <p class="fs-6">
              Fortalecemos a saúde financeira do seu negócio com governança e métricas.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up">
          <div class="service-card">
            <h5 class="text-primary"><i class="bi bi-cash-coin"></i> Planejamento Financeiro Orçamentário</h5>
            <p class="fs-6">
              Construção de planos financeiros realistas, com participação das partes interessadas.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="50">
          <div class="service-card">
            <h5 class="text-primary"><i class="bi bi-gear-fill"></i> Gestão de Processos de Negócio</h5>
            <p class="fs-6">
              Mapeamento, documentação, identificação de gargalos e melhorias.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="service-card">
            <h5 class="text-primary"><i class="bi bi-clipboard-data"></i> Gestão de Projetos</h5>
            <p class="fs-6">
              Abordagem disciplinada para entregar projetos complexos com foco estratégico.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CAPACITAR E CTA -->
  <section class="py-5" id="capacite" style="height: 50dvh;">
    <div class="container">
      <div class="d-inline flex-column">
        <h3 class="display-5 fw-bold">Terceirize seu financeiro.</h3>
        <p class="fs-4" style="max-width: 600px;">Ganhe tempo, reduza custos e foque no que realmente importa.</p>
        <p class="fs-4" style="max-width: 600px;">Conheça nossa Assessoria em BPO financeiro.</p>
        <a href="#contato" class="btn mt-5 fs-4  fw-bold btn-lg btn-outline-light">Contrate Já!</a>
      </div>
    </div>
  </section>

  <!-- BENEFICIOS / LISTA -->
  <section id="beneficios" class="py-5 bg-light">
    <div class="container">
      <h2 class="text-secondary fw-bold">Experiência <span class="text-primary">Especializada.</span></h2>
      <p class="text-dark">A consultoria terceirizada ajuda empresas a melhorar eficiência, otimizar processos e
        capacitar funcionários.</p>
      <div class="d-flex justify-content-center flex-wrap gap-3 mt-4">
        <div class="flex-grow-1" style="flex-basis: 400px;" data-aos="fade-up">
          <div class="p-3 border rounded bg-dark-green">
            <h2 class="text-secondary">1.</h2>
            <h5>Experiência e conhecimento especializado</h5>
          </div>
        </div>
        <div class="flex-grow-1" style="flex-basis: 400px;" data-aos="fade-up" data-aos-delay="50">
          <div class="p-3 border rounded bg-dark-green">
            <h2 class="text-secondary">2.</h2>
            <h5>Objetividade e perspectiva externa</h5>
          </div>
        </div>
        <div class="flex-grow-1" style="flex-basis: 400px;" data-aos="fade-up" data-aos-delay="100">
          <div class="p-3 border rounded bg-dark-green">
            <h2 class="text-secondary">3.</h2>
            <h5>Soluções personalizadas</h5>
          </div>
        </div>

        <div class="flex-grow-1" style="flex-basis: 400px;" data-aos="fade-up" data-aos-delay="150">
          <div class="p-3 border rounded bg-dark-green">
            <h2 class="text-secondary">4.</h2>
            <h5>Acesso a melhores práticas</h5>
          </div>
        </div>
        <div class="flex-grow-1" style="flex-basis: 400px;" data-aos="fade-up" data-aos-delay="200">
          <div class="p-3 border rounded bg-dark-green">
            <h2 class="text-secondary">5.</h2>
            <h5>Economia de tempo e recursos</h5>
          </div>
        </div>
        <div class="flex-grow-1" style="flex-basis: 400px;" data-aos="fade-up" data-aos-delay="250">
          <div class="p-3 border rounded bg-dark-green">
            <h2 class="text-secondary">6.</h2>
            <h5>Desenvolvimento de habilidades internas</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FLUXO -->
  <section id="fluxo" class="py-5">
    <div class="container text-center d-flex justify-content-center flex-column align-items-center">
      <div class="d-flex flex-column align-items-center mb-4">
        <span class="text-secondary fw-bold fs-2">Explore nosso</span>
        <span class="text-primary display-6 fw-bold">Fluxo de Atendimento</span>
      </div>
      <p class="text-muted">Do diagnóstico à entrega: reuniões, aprovação do plano, contratação, execução e finalização.
      </p>
      <div class="text-center mt-4" data-aos="zoom-in">
        <img src="{{url_for('static', filename='estrada_consultoria/img/fluxo.png')}}" alt="Fluxo de Atendimento" class="img-fluid rounded">
      </div>
    </div>
  </section>

  <!-- TESTEMUNHOS -->
  <section class="py-5 bg-gscale">
    <div class="container">
      <h2 class="fw-bold text-secondary mb-5">Depoimento dos <span class="text-primary">Clientes.</span></h2>

      <div class="carousel-wrapper position-relative d-flex justify-content-center">
        <!-- Carousel -->
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex">
                <div class="p-4 bg-white border rounded">
                  <h5 class="text-primary">Laila Matulaitis</h5>
                  <small class="text-secondary">CEO | INTAK Fragrância Decor</small>
                  <hr class="mb-4">
                  <p class="mt-2">
                    "Indico a profissional Juliana, muito competente e capacitada. Iniciamos o trabalho da consultoria
                    financeira para cuidar dos desafios que estávamos enfrentado na gestão do departamento financeiro.
                    Trabalhamos juntas por um ano e meio, sempre com muito comprometimento e dentro de prazos
                    estabelecidos. Através desse trabalho, temos uma visão ampla de todos os nossos números, painel de
                    indicadores para tomada de decisões e processos documentados através pops. Graças a consultoria
                    muitas
                    tarefas na empresa puderam ser delegadas."
                  </p>
                  <p>
                    Conheça mais sobre a empresa <a class="text-primary fw-bold" href="https://intak.com.br"
                      target="_blank">INTAK Fragrância Decor</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex">
                <div class="p-4 bg-white border rounded">
                  <h5 class="text-primary">Marina Mouco Valotto</h5>
                  <small class="text-secondary"> Biomédica | Clínica Derma Mais</small>
                  <hr class="mb-4">
                  <p class="mt-2">
                    "Contratei a consultoria financeira com a Juliana e foi uma experiência e tanto. Consegui
                    parametrizar
                    e organizar todo meu financeiro e consequentemente tenho maior visão do negócio. Recomendo o
                    trabalho
                    e inclusive vamos dar seguimento na questão dos processos que ainda não implementamos mas
                    implementaremos em breve!"
                  </p>
                  <p>
                    Conheça mais sobre a empresa <a class="text-primary fw-bold"
                      href="https://clinicaesteticalondrina.com.br/" target="_blank">Clinica Derma Mais</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex">
                <div class="p-4 bg-white border rounded">
                  <h5 class="text-primary">Ingrid</h5>
                  <small class="text-secondary"> Diretora | Wesra Engenharia Elétrica</small>
                  <hr class="mb-4">
                  <p class="mt-2">
                    "Iniciamos a parceria com a Juliana em maio deste ano, nesse período se mostrou uma profissional
                    competente, objetiva e ética. Tem nos assessorado na elaboração do planejamento financeiro e
                    orçamentário da empresa, focado em redução de custos fixos e financeiros. Concluindo essa etapa, já
                    temos alinhado a continuidade da parceria em outras demandas da empresa. Excelente profissional!
                    Recomendo!"
                  </p>
                  <p>
                    Conheça mais sobre a empresa <a class="text-primary fw-bold" href="https://www.wesra.com.br/"
                      target="_blank">Wesra Engenharia Elétrica</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Botões FORA do carrossel -->
        <button class="carousel-control-prev outside" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next outside" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </section>

  <!-- REGIOES ATENDIDAS -->
  <section class="py-5">
    <div class="container">
      <h2 class="text-secondary fw-bold">Atendemos todo o <span class="text-primary">Brasil.</span></h2>
      <p class="text-dark">Você pode ser o próximo! Confira abaixo as regiões em que já estamos presentes.</p>
      <div class="row mt-3">
        <div class="col-md-6 d-flex justify-content-around gap-2 p-1" data-aos="fade-right">
          <div>
            <h6 class="text-primary fs-5 fw-bold">Paraná</h6>
            <ul d-list="">
              <li><span class="icon-checkmark-outline"></span>Londrina</li>
              <li><span class="icon-checkmark-outline"></span>Alvorada do Sul</li>
              <li><span class="icon-checkmark-outline"></span>Apucarana</li>
              <li><span class="icon-checkmark-outline"></span>Arapongas</li>
              <li><span class="icon-checkmark-outline"></span>Assaí</li>
              <li><span class="icon-checkmark-outline"></span>Cambé</li>
              <li><span class="icon-checkmark-outline"></span>Curitiba</li>
              <li><span class="icon-checkmark-outline"></span>Ibiporã</li>
              <li><span class="icon-checkmark-outline"></span>Ivaiporã</li>
              <li><span class="icon-checkmark-outline"></span>Maringá</li>
              <li><span class="icon-checkmark-outline"></span>Novo Itacolomi</li>
              <li><span class="icon-checkmark-outline"></span> Toledo</li>
            </ul>
          </div>
          <div class="d-flex flex-column gap-2">
            <div>
              <span class="text-primary fs-5 fw-bold">Santa Catarina</span>
              <ul>
                <li><span class="icon-checkmark-outline"></span>Balneário Camboriú</li>
              </ul>
            </div>

            <div>
              <span class="text-primary fs-5 fw-bold">Rio Grande do Sul</span>
              <ul d-list="">
                <li><span class="icon-checkmark-outline"></span>Sapiranga</li>
              </ul>
            </div>

            <div>
              <span class="text-primary fs-5 fw-bold">São Paulo</span>
              <ul d-list="">
                <li><span class="icon-checkmark-outline"></span>São Paulo</li>
              </ul>
            </div>

            <div>
              <span class="text-primary fs-5 fw-bold">Mato Grosso do Sul</span>
              <ul d-list="">
                <li><span class="icon-checkmark-outline"></span>Tacuru</li>
              </ul>
            </div>

            <div>
              <span class="text-primary fs-5 fw-bold">Goiás</span>
              <ul d-list="">
                <li><span class="icon-checkmark-outline"></span>Jataí</li>
              </ul>
            </div>

            <div>
              <span class="text-primary fs-5 fw-bold">Distrito Federal</span>
              <ul d-list="">
                <li><span class="icon-checkmark-outline"></span>Brasilia</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6" data-aos="fade-left">
          <img src="img/mapa.jpeg" alt="Mapa" class="maps-img mobile-hide">
        </div>
      </div>
    </div>
    <div class="d-flex gap-2 flex-wrap p-2">
      <div class="card shadow-lg flex-grow-1" style="flex-basis: 600px;" data-aos="fade-up">
        <div class="card-header bg-dark-green">
          <span class="fs-4 fw-bold">Segmentos Atendidos</span>
        </div>
        <div class="card-body d-flex flex-wrap justify-content-around gap-4">
          <div class="flex-grow-1" style="flex-basis: 300px;">
            <h3 class="heading-5 region-title">Indústria</h3>
            <ul>
              <li><span class="icon-checkmark-outline"></span>Indústria de balas e doces;</li>
              <li><span class="icon-checkmark-outline"></span>
                Indústria de móveis e estofados;</li>
              <li><span class="icon-checkmark-outline"></span>
                Indústria de confecções e calçados;</li>
              <li><span class="icon-checkmark-outline"></span>
                Indústria de sorvetes;</li>
              <li><span class="icon-checkmark-outline"></span>
                Indústria manufatura de mármores e granitos;</li>
              <li><span class="icon-checkmark-outline"></span>
                Indústria de produtos de limpeza;</li>
              <li><span class="icon-checkmark-outline"></span>
                Usina sucroalcooleira.</li>
            </ul>
          </div>

          <div class="flex-grow-1" style="flex-basis: 300px;">
            <h3 class="heading-5 region-title">Comércio</h3>
            <ul>
              <li><span class="icon-checkmark-outline"></span>Atacadista de produtos de perfumaria;</li>
              <li><span class="icon-checkmark-outline"></span>
                Varejo de confecções e calçados;</li>
              <li><span class="icon-checkmark-outline"></span>
                Materiais elétricos e de construção;</li>
              <li><span class="icon-checkmark-outline"></span>
                Produtos naturais.</li>
            </ul>
          </div>

          <div class="flex-grow-1" style="flex-basis: 300px;">
            <h3 class="heading-5 region-title">Serviços</h3>
            <ul>
              <li><span class="icon-checkmark-outline"></span>Clínicas médicas, fisioterapeutas, nutricionistas,
                odontológicas e de estética;</li>
              <li><span class="icon-checkmark-outline"></span>
                Corretores de seguros;</li>
              <li><span class="icon-checkmark-outline"></span>
                Colégios de ensino médio e fundamental;</li>
              <li><span class="icon-checkmark-outline"></span>
                Engenharia civil e elétrica;</li>
              <li><span class="icon-checkmark-outline"></span>
                Operadores logísticos;</li>
              <li><span class="icon-checkmark-outline"></span>
                Franquias de Produtos e Serviços.</li>
            </ul>
          </div>

        </div>
      </div>

      <div class="d-flex flex-column gap-2 flex-shrink-1" style="flex-basis: 300px;" data-aos="fade-down">
        <div
          class="d-flex justify-content-center align-items-center fs-4 p-3 border shadow-lg rounded flex-grow-1 bg-primary fw-bold">
          <span>
            +500 Clientes atendidos
          </span>
        </div>
        <div
          class="d-flex justify-content-center align-items-center fs-4 p-3 border shadow-lg rounded flex-grow-1 bg-secondary fw-bold">
          <span>
            +1000 Projetos entregues
          </span>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA contato -->
  <section id="contato" class="py-5 bg-light">
    <div class="container d-flex justify-content-center flex-wrap gap-5">
      <div class="d-flex flex-column flex-grow-1" style="flex-basis: 400px;">
        <div class="d-flex flex-column">
          <span class="fs-3">Procurando uma</span>
          <span class="fw-bold display-6">Solução Personalizada?</span>
        </div>
        <p class="fs-5">Converse conosco! Vamos entender suas necessidades e encontrar a melhor maneira de ajudá-lo.</p>
        <a href="https://wa.me/5544991050013" target="_blank" class="mb-1 btn btn-lg fw-bold btn btn-primary"><i
            class="bi bi-whatsapp"></i>
          (44) 99105-0013</a>
        <a href="mailto:juliana@estradaconsultoria.com.br" target="_blank"
          class="mb-1 btn btn-lg fw-bold btn-outline-primary"><i class="bi bi-envelope-at-fill"></i>
          juliana@estradaconsultoria.com.br</a>
        <p class="fs-5 mt-5">Redes sociais:
          <a class="ms-2 text-light text-decoration-none" title="Perfil do instagram"
            href="https://www.instagram.com/estradaconsultoria/?igshid=MzRlODBiNWFlZA%3D%3D" target="_blank"><i
              class="bi bi-instagram"></i></a>
          <a class="ms-2 text-light text-decoration-none" title="Perfil do Linkedin"
            href="https://www.linkedin.com/company/estrada-consultoria/?originalSubdomain=br" target="_blank"><i
              class="bi bi-linkedin"></i></a>
        </p>
      </div>

      <div class="flex-grow-1" style="flex-basis: 400px;">
        <form class="border shadow-lg d-flex flex-column gap-2 p-4 rounded text-bg-light" id="contactForm" name="contactForm">
          <div class="form-floating mb-2">
            <input type="text" class="form-control" name="nome" placeholder="Nome" autocomplete="name" required>
            <label for="nome">Nome</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" name="email" placeholder="email" autocomplete="email" required>
            <label for="email">Email</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" name="telefone" placeholder="telefone" autocomplete="tel" required>
            <label for="telefone">Telefone</label>
          </div>
          <div class="form-floating">
            <textarea name="msg" class="form-control" placeholder="Mensagem" style="height: 150px;"
              autocomplete="off"></textarea>
            <label for="mensagem">Mensagem</label>
          </div>
          <div class="g-recaptcha flex-grow-1" data-sitekey="6Lf6hgEsAAAAAI6Y6oQr1y0ygvyQ5ZRDCx2_Q0sY"
            data-action="LOGIN"></div>
          <button type="submit" name="btnSub" class="btn-dark-green align-self-end w-25">Enviar</button>
        </form>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="footer bg-dark-green">
    <div class="container d-flex gap-4 justify-content-center align-items-start flex-wrap">
      <!-- Logo -->
      <div class="d-flex justify-content-center align-items-center  flex-grow-1" style="flex-basis: 300px;">
        <img src="img/logo_2.svg" alt="">
      </div>
      <!-- Contato -->
      <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1" style="flex-basis: 300px;">
        <h6 class="fs-5 fw-bold">Contato</h6>
        <p><i class="bi bi-envelope-paper-fill"></i> juliana@estradaconsultoria.com.br</p>
        <p><i class="bi bi-phone"></i> (44) 99105-0013</p>
      </div>
      <!-- Redes -->
      <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1" style="flex-basis: 300px;">
        <h6 class="fs-5 fw-bold">Redes Sociais</h6>
        <div class="d-flex flex-row gap-4 align-items-start">
          <a href="https://www.instagram.com/estradaconsultoria/?igshid=MzRlODBiNWFlZA%3D%3D" target="_blank"
            class="text-decoration-none text-light fs-4" title="Perfil do instagram">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://br.linkedin.com/company/estrada-consultoria?trk=public_profile_topcard-current-company"
            target="_blank" class="text-decoration-none text-light fs-4" title="Perfil do Linkedin">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>
      <!-- CNPJ -->
      <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1" style="flex-basis: 300px;">
        <h6 class="fs-5 fw-bold">Estrada Consultoria LTDA © 2025</h6>
        <div class="fs-6">CNPJ 28.144.427/0001-82</div>
      </div>
    </div>
    <div class="text-center mt-5">
      <a href="https://tecnobreve.onrender.com" class="text-decoration-none text-light" target="_blank">Desenvolvido por
        <img src="img/tecnobreve.png" class="img-fluid" width="200vh" alt=""></a>
    </div>
  </footer>

  <!-- SCRIPTS -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script>AOS.init({ duration: 700, once: true });</script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.164.1/build/three.min.js"></script>
  <script src="js/candle_2d.js" type="module"></script>
  <script src="js/main.js"></script>
  <!-- END SCRIPTS -->
</body>

</html>