<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{client.name}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="shortcut icon" href="/static/{{client.template}}/img/fav.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/{{client.template}}/css/base.css">
</head>

<body>

  <!-- HEADER -->
  <header class="header border-none">
    <div class="container nav">
      <div class="logo"><img src="/static/meka/img/blue_brand.svg" width="125" alt=""></div>
      <nav class="align-items-center fw-bold">
        <a href="#">Home</a>
        <a href="#">Serviços</a>
        <a href="#">Planos</a>
        <a href="#">Cases</a>
        <a href="#">Quem Somos</a>
        <a class="nav-cta" href="#">Diagnóstico</a>
      </nav>
    </div>
  </header>

  <!-- HERO -->
  <section class="hero" id="hero-bg">
    <div class="container hero-grid">
      <div class="hero-content">
        <span class="text-dark fw-bold">Marketing Digital Estratégico</span>
        <h1 class="fs-2 fw-bold">Transformamos presença digital em clientes reais.</h1>
        <p class="text-dark">Estratégia, tráfego pago e branding para empresas que querem crescer.</p>

        <div class="hero-actions">
          <a href="#" class="btn-primary">Receber Diagnóstico</a>
          <a href="#" class="btn-outline-primary">WhatsApp</a>
        </div>
      </div>

      <!-- <div class="hero-visual">
        <div class="wire-box large"></div>
      </div> -->
    </div>
  </section>

  <!-- SERVICES -->
  <section class="section">
    <div class="container">
      <h2>Serviços</h2>

      <div class="cards-grid">
        <div class="card">
          <div class="icon bi bi-clipboard-data text-center fs-2"></div>
          <h3>Gestão de Tráfego</h3>
          <span>Planejamos e gerenciamos campanhas estratégicas para atrair o público certo e transformar investimento em resultados reais para sua empresa.</span>
        </div>
        <div class="card">
          <div class="icon bi bi-phone text-center fs-2"></div>
          <h3>Social Media</h3>
          <span>Produzimos conteúdos estratégicos para fortalecer sua marca, gerar conexão com seu público e aumentar sua presença nas redes sociais.</span>
        </div>
        <div class="card">
          <div class="icon bi-palette text-center fs-2"></div>
          <h3>Rebranding</h3>
          <span>Criamos marcas fortes e memoráveis que comunicam profissionalismo, autoridade e posicionamento no mercado digital.</span>
        </div>
        <div class="card">
          <div class="icon bi bi-geo text-center fs-2"></div>
          <h3>Consultoria</h3>
          <span>Analisamos sua presença online e definimos estratégias para destacar sua empresa e aumentar sua relevância no ambiente digital</span>
        </div>
        <div class="card">
          <div class="icon bi-camera-reels text-center fs-2"></div>
          <h3>Vídeos</h3>
          <span>Criamos fotos e vídeos estratégicos para anúncios e conteúdos que geram mais impacto e resultado para sua marca.</span>
        </div>
        <div class="card">
          <div class="icon bi bi-cart-plus text-center fs-2"></div>
          <h3>E-commerce</h3>
          Criamos páginas modernas e otimizadas para vender mais, captar leads e oferecer uma experiência profissional ao cliente.
        </div>
      </div>
    </div>
  </section>

  <!-- PLANS -->
  <section class="section gray">
    <div class="container">
      <h2>Planos</h2>

      <div class="pricing-grid">
        <div class="pricing-card">
          <h3>Básico</h3>
          <div class="placeholder-lines"></div>
          <a href="#" class="btn-secondary">Escolher</a>
        </div>

        <div class="pricing-card featured">
          <span class="badge">Mais escolhido</span>
          <h3>Premium</h3>
          <div class="placeholder-lines"></div>
          <a href="#" class="btn-primary">Escolher</a>
        </div>

        <div class="pricing-card">
          <h3>Intermediário</h3>
          <div class="placeholder-lines"></div>
          <a href="#" class="btn-secondary">Escolher</a>
        </div>
      </div>
    </div>
  </section>

  <!-- CASES -->
  <section class="section">
    <div class="container">
      <h2>Cases</h2>

      <div class="cases-grid">
        <div class="case-box"></div>
        <div class="case-box"></div>
        <div class="case-box"></div>
        <div class="case-box"></div>
      </div>
    </div>
  </section>

  <!-- DIAGNOSTIC -->
  <section class="section highlight">
    <div class="container form-layout">
      <div class="form-text">
        <h2 class="text-white fw-bold">Faça o Diagnóstico da Sua Empresa</h2>
        <p class="text-warning">Descubra onde sua empresa pode crescer online.</p>
      </div>

      <form class="form-card">
        <input type="text" placeholder="Nome completo">
        <input type="email" placeholder="E-mail">
        <input type="text" placeholder="WhatsApp">
        <input type="text" placeholder="Empresa">
        <button type="submit">Receber diagnóstico</button>
      </form>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="container">
      <p>Meka Digital — Todos os direitos reservados</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="/static/{{client.template}}/js/three.js"></script>
  <script src="/static/{{client.template}}/js/p5.min.js"></script>
  <script src="/static/{{client.template}}/js/vanta.topology.min.js"></script>
  <script>
    VANTA.TOPOLOGY({
      el: "#hero-bg",
      mouseControls: true,
      touchControls: true,
      gyroControls: true,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0x7c3aed,
      backgroundColor: 0xFFFFFF,
      opacity: 0.5,
    });
  </script>
</body>

</html>