<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- INIT METAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- END METAS -->
    
    <title>Felipe Bertucci | Oftalmologia.</title>
    <link rel="icon" href="{{url_for('static', filename='felipe_bertucci/img/favicon.png')}}">
    
    <!-- INIT CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='felipe_bertucci/css/fonts.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='felipe_bertucci/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='felipe_bertucci/css/utils.css')}}">
    <!-- END CSS -->

    <!-- TAG AREA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-386811028"></script>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PHZJNDF3" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script src="{{url_for('static', filename='felipe_bertucci/js/gtag.js')}}"></script>
    <!-- END TAG AREA -->
</head>

<body data-bs-theme="light">
    <!-- INIT NAVBAR -->
    <nav class="navbar navbar-expand-lg">
        <!-- INIT CONTAINER -->
        <div class="container-fluid">
            <!-- INIT BRAND -->
            <span class="nav-brand fs-4 fw-bold text-primary"><i class="bi fs-1 bi-eye"></i></span>
            <!-- END BRAND -->

            <!-- INIT TOGGLER -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- END TOGGLER -->

            <!-- INIT COLLAPSE -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- INIT OPTIONS -->
                <ul class="navbar-nav w-100 gap-4 d-flex justify-content-end">
                    <!-- INIT HOME -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page " href="#">Pagina Inicial</a>
                    </li>
                    <!-- END HOME -->

                    <!-- INT ABOUT -->
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre">Sobre</a>
                    </li>
                    <!-- END ABOUT -->

                    <!-- INT ABOUT -->
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="#contato">Entre em Contato</a>
                    </li>
                    <!-- END ABOUT -->
                    
                </ul>
                <!-- END OPTIONS -->
            </div>
            <!-- END COLLAPSE -->
        </div>
        <!-- END CONTAINER -->
    </nav>
    <!-- END NAVBAR -->

    <!-- INIT HERO -->
    <div class="banner p-4 gap-4 pattern">
        <img src="{{url_for('static', filename='felipe_bertucci/img/logo_branca_menor.png')}}" class="img-fluid" width="350vh" alt="" data-aos="fade-down">
        <span class="fs-4 fw-bold exo-2 text-light" data-aos="fade-up">Cuidando da sua visão.</span>
        <a href="#contato" class="btn btn-light btn-lg poppins" data-aos="fade-up">Entre em Contato</a>
        <span class="fs-5 align-self-end text-end mt-5 noto" data-aos="fade-right">CRM-PR 35814 | RQE 27271</span>
    </div>
    <!-- END HERO -->

    <!-- INIT ABOUT US -->
    <section id="sobre" class="d-flex bg-secondary flex-wrap-reverse justify-content-center overflow-hidden align-items-center gap-4">
        <img src="{{url_for('static', filename='felipe_bertucci/img/about.png')}}" class="flex-grow-1 img-fluid img-about" alt="Sobre mim" width="250vh" data-aos="fade-up">
        <!-- INIT TEXT ABOUT -->
        <div class="texts d-flex p-2 flex-column justify-content-around py-5 align-items-center flex-grow-1"
            data-aos="fade-down">
            <span class="display-5 w-100 fw-bold mb-5 noto text-primary">Sobre <span class="sub1">mim.</span></span>
            <!-- INIT SPANS -->
            <div class="d-flex flex-column mt-4 justify-content-center align-items-center gap-1">
                <span class="fs-5 text-center fw-bold text-dark exo-2" style="max-width: 700px">
                    "Olá! Sou o Dr. Felipe Bertucci, especialista em saúde ocular. Com expertise em catarata,
                    cirurgia
                    refrativa e glaucoma, tenho dedicado minha carreira a oferecer cuidados excepcionais aos meus
                    pacientes.
                    Agende uma consulta e permita-me ajudá-lo a desfrutar de uma visão clara e saudável."
                </span>
            </div>
            <!-- END SPANS -->

            <!-- INIT BUTTONS -->
            <div class="d-flex gap-2 mt-5 w-100 justify-content-center flex-wrap">
                <a href="https://api.whatsapp.com/send/?phone=554391001020&&text=Ola+Vim+pelo+website+e+gostaria+de+saber+mais" target="_blank" class="btn btn-lg btn-primary poppins flex-grow-1">
                    <i class="bi bi-whatsapp"></i> Entre em contato e saiba mais!
                </a>
            </div>
            <!-- END BUTTONS -->
        </div>
        <!-- END TEXT ABOUT -->
    </section>
    <!-- END ABOUT US -->

    <!-- INIT CONTACT -->
    <section id="contato" class="bg-primary">
        <!-- INIT CONTAINER -->
        <div class="container py-4">
            <!-- INIT TITLE -->
            <span class="display-5 fw-bold noto mb-5 sub2" data-aos="fade-left">Contato.</span>
            <!-- END TITLE -->

            <!-- INIT INFOS -->
            <div class="d-flex justify-content-center mb-5 p-5 flex-wrap gap-4 mt-5">
                <!-- INIT INFO AND SALE -->
                <div class="d-flex justify-content-between flex-column flex-grow-1" data-aos="fade-down" style="flex-basis: 300px;">
                    <div class="d-flex flex-column gap-2">
                        <span class="fs-4 fw-bold exo-2">Livre-se dos óculos — <span class="">Método OLHOS
                                LIVRES</span></span>
                        <span class="fs-5 poppins mt-5">Troca do cristalino | Laser personalizado</span>
                        <span class="fs-5">+6.000 cirurgias realizadas com excelência</span>
                        <span class="fs-5 noto mt-5">
                            Redescubra o prazer de <span class="text-bg-light p-1 rounded"> enxergar </span> o mundo com
                            liberdade e clareza.
                            Agende sua consulta e dê o primeiro passo para uma nova visão.
                        </span>
                    </div>
                    <a class="btn btn-lg btn-outline-light fw-bold" href="https://wa.me/send/?phone=554391001020&&text=Olá,+encontrei+o+Dr+Felipe+no+Google+e+gostaria+de+mais+informações+para+agendar+minha+consulta!"> Entre em contato agora!</a>
                </div>
                <!-- INIT INFO AND SALE -->

                <!-- INIT VERTICAL ROW -->
                <div class="vr mobile-hide"></div>
                <!-- END VERTICAL ROW -->

                <!-- INIT INSTAGRAM GRID -->
                <div class="d-flex flex-column flex-grow-1" data-aos="fade-up" style="flex-basis: 300px;">
                    <span class="fs-4 exo-2 mb-5 fw-bold">Acesse o Instagram e veja as pessoas que já decidiram mudar de
                        vida:</span>
                    <div class="card">
                        <div class="card-header gap-4 d-flex align-items-center justify-content-between">
                            <div class="d-flex gap-4 align-items-center">
                                <div class="profile-photo"></div>
                                <div class="d-flex flex-column">
                                    <span class="fs-6 fw-bold">Dr. Felipe Bertucci</span>
                                    <span class="exo-2 text-secondary fw-bold">dr.felipebertucci</span>
                                </div>
                            </div>
                            <a class="btn btn-insta justify-self-end" href="https://www.instagram.com/dr.felipebertucci/"
                                target="_blank"><i class="bi bi-instagram"></i> Seguir</a>
                        </div>
                        <div class="card-body">
                            <div class="post-body">
                                <img src="{{url_for('static', filename='felipe_bertucci/img/insta/post_1.png')}}" class="posts">
                                <img src="{{url_for('static', filename='felipe_bertucci/img/insta/post_2.png')}}" class="posts">
                                <img src="{{url_for('static', filename='felipe_bertucci/img/insta/post_4.png')}}" class="posts">
                                <img src="{{url_for('static', filename='felipe_bertucci/img/insta/post_3.png')}}" class="posts">
                                <img src="{{url_for('static', filename='felipe_bertucci/img/insta/post_5.png')}}" class="posts">
                                <img src="{{url_for('static', filename='felipe_bertucci/img/insta/post_6.png')}}" class="posts">
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary w-100 btn-lg fw-bold exo-2" href="https://www.instagram.com/dr.felipebertucci/"
                                target="_blank"><i class="bi bi-send-check"></i> Acesse o Instagram, e saiba mais ! </a>
                        </div>
                    </div>
                </div>
                <!-- END INSTAGRAM GRID -->
            </div>
            <!-- END INFOS -->
        </div>
        <!-- END CONTAINER -->
    </section>
    <!-- END CONTACT -->

    <!-- INIT FOOTER -->
    <footer class="d-flex p-4 flex-row flex-wrap justify-content-around pattern">
        <!-- INIT BRAND -->
        <img class="img-fluid object-fit-contain" src="{{url_for('static', filename='felipe_bertucci/img/logo_branca_menor.png')}}" width="250vh" data-aos="fade-down">
        <!-- END BRAND -->

        <!-- INIT ADDRESS -->
        <div class="d-flex flex-column p-2 gap-2 text-wrap" data-aos="fade-up">
            <span><i class="bi bi-geo-alt-fill"></i> Rua Senador Souza Naves, 638 - Centro, Londrina</span>
            <span><i class="bi bi-telephone-inbound-fill"></i> Londrina: (43) 99921-6185</span>
            <br>
            <span><i class="bi bi-geo-alt-fill"></i> Rua dos Bandeirantes, 237 - Centro, Corn. Procópio</span>
            <span><i class="bi bi-telephone-inbound-fill"></i> Cornélio Procópio: (43) 99170-1020</span>
        </div>
        <!-- END ADDRESS -->

        <!-- INIT SOCIAL MEDIA -->
        <div class="d-flex flex-row gap-2 justify-content-center align-items-center" data-aos="fade-down">
            <!-- INIT INSTAGRAM -->
            <div class="insta">
                <a href="https://www.instagram.com/dr.felipebertucci/" class="bi bi-instagram"></a>
            </div>
            <!-- END INSTAGRAM -->

            <!-- INIT LINKTR -->
            <div class="link">
                <a href="https://linktr.ee/dr.felipebertucci?fbclid=PAZXh0bgNhZW0CMTEAAaar3f7KLOBBW1NHjA1Bm4E-K9pa6O1N4Km0qHMq1H2HjjpVUly1yH7nz2E_aem_7n1NO9vpsKmlROd-zViuWQ"
                class="bi bi-link-45deg"></a>
            </div>
            <!-- END LINKTR -->
        </div>
        <!-- EN SOCIAL MEDIA -->

        <!-- INIT COPYRIGHT -->
        <div class="container text-center mt-5 mb-2 py-5 d-flex gap-2 align-items-center justify-content-center flex-wrap" data-aos="fade-down">
            <a href="https://tecnobreve.onrender.com " class="text-decoration-none text-light" target="_blank">
                &copy; 2025, Desenvolvido por
                <img src="{{url_for('static', filename='tecnobreve/img/tecnobreve.png')}}" width="200vh">
                <img>
            </a>
            <a href="https://www.instagram.com/mekadigital_/" class="text-decoration-none text-light d-flex align-items-center gap-2" target="_blank"> 
                Em parceria com 
                <img src="{{url_for('static', filename='meka/img/meka.png')}}" width="150vh">
            </a>
        </div>
        <!-- END COPYRIGHT -->
    </footer>
    <!-- END FOOTER -->

    <!-- INIT SCRIPTS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script> AOS.init({ duration: 2000 }) </script>
    <!-- END SCRIPTS -->
</body>

</html>