<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizze Consorcios</title>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    </style>
</head>

<body
    style="background-color: #222; display: flex; justify-content: center; align-items: center; color: #fff; text-align: center;">
    <div>
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Esta Landingpage está em
            desenvolvimento, favor entrar em contato com seu desenvolvedor!</h1>
        <h2
            style="font-style: italic; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            This landingpage is under devlopment, please call by your developer.</h2>
    </div>
</body>

</html>