name: Deploy into server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Deploy
        run: |
          ssh gh@${{ secrets.SERVER_IP }} << 'EOF'
            cd /home/guibs/panel/
            sudo git pull origin main
            /home/guibs/panel/venv/bin/pip install -r requirements.txt
            sudo systemctl restart panel
          EOF
